@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-image: url('img/bgcolor.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
}
header {
    display: flex; 
    justify-content: space-around;
    width: 100%;
}
.logo img {
    width: 100px;
    height: 100px;
    padding: 10px;
}
nav {
    display: flex;
    width: 38%;
}
a {
    padding: 30px;
    font-size: 25px;
    margin-top: 1px;
    list-style-type: none;
    color: white;
    text-shadow:  2px 2px 2px rgba(0, 0, 0, 0.334);
    text-decoration: none;
}
.s1 {
    color: white;
    display: flex;
    padding: 50px;
}
.c1 {
    margin-top: 10px;
    padding: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 100%;
    height: 500px;
    border-radius: 50px;
    color: pink;
    font-size: 40px;
}
#r1 {
    font-size: 50px;
    color: pink;
    text-shadow:  2px 2px 2px rgba(0, 0, 0, 0.334);
}
#r2 {
    font-size: 90px;
    color: skyblue;
    font-weight: bolder;
    text-shadow:  2px 2px 2px rgba(0, 0, 0, 0.334);
}
#r3 {
    font-size: 25px;
    text-shadow:  2px 2px 2px rgba(0, 0, 0, 0.334);
}
a:hover {
    color: pink;
}
#s2 {
    margin-left: 10px;
    margin: 10px;
}
.s3 {
    padding: 15px;
    width: 500px;
    font-size: 30px;
    border-radius: 50px;
    border: 0px solid;
    background-color: pink;
    color: white;
}
.s3:hover {
    background-color: skyblue;
    color: pink;
}